
/*Reset*/ 

* {
  box-sizing: border-box; 
  margin: 0 auto; 
  padding: 0;  
}

/*ricordati di cambiarli direttamente con bootstrp*/
main{
  background-color: black;
  color: aliceblue;
}


.jumbo {
  img {
   width: 100%;
  }
}

div {
  .comics{
    img {
      height: 200px;
    }
  }
}